<!doctype html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Work</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body style="background-image: url('/static/back1.jpg'); background-size: cover;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <nav class="navbar" style="background-color: #1c384b;" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <b><i>Maruti Shows</i></b>
              </a>
            </div>
            
          </nav><br>
          <a class="btn btn-light" href="/statistics" role="button">See Statistics</a>
    <div class="mx-auto" style="width: 600px;">
        <h3 class="text-white">Create a Venue</h3><br>
    </div>
    <form action="/admin_work" method="POST">
        <div class="mx-auto" style="width: 600px">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Venue Name</span>
                <input type="text" name="name" class="form-control" required pattern="[A-Za-z\s]+" title="Only alphabets and spaces are allowed" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
                    <div class="invalid-feedback">
                        Must be an Alphabet or space.
                      </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Place</span>
                <input type="text" name="place" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
                    
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Location</span>
                <input type="text" name="location" class="form-control" required pattern="[A-Za-z\s]+" title="Only alphabets and spaces are allowed" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
                    <div class="invalid-feedback">
                        Must be an Alphabet or space.
                      </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Capacity</span>
                <input type="text" name="capacity" required pattern="^[0-9]+$" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" title="Must be an Integer">
                    <div class="invalid-feedback">
                        Must be an integer.
                      </div>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div><br>

    </form>
    <div>




        {% if all_venues|length==0 %}<br><br>
        <div class="alert alert-danger mx-auto" style="width:600px" role="alert">
            No venues are created!
        </div>
        {% else %}
        <table class="table table-striped table-bordered table-medium table-spaced" style="background-color: white;">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Venue Name</th>
                    <th>Place</th>
                    <th>Location</th>
                    <th>Capacity</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for x in all_venues %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{x.name.upper()}}</td>
                    <td>{{x.place.upper()}}</td>
                    <td>{{x.location.upper()}}</td>
                    <td>{{x.capacity}}</td>
                    <td><a class="btn btn-dark" href="/delete_venue/{{x.sno}}" role="button">Delete</a></td>
                    <td><a class="btn btn-dark" href="/edit_venue/{{x.sno}}" role="button">Edit</a></td>
                    <td><a class="btn btn-dark" href="/shows/{{x.sno}}" role="button">Shows</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}



    </div>
</body>

</html>